[submodule "ip_cores/general-cores"]
	path = ip_cores/general-cores
	url = https://github.com/lnls-dig/general-cores.git
[submodule "ip_cores/roa_logic/ahb3lite_interconnect"]
	path = ip_cores/roa_logic/ahb3lite_interconnect
	url = git@github.com:vfinotti/ahb3lite_interconnect.git
[submodule "ip_cores/roa_logic/ahb3lite_memory"]
	path = ip_cores/roa_logic/ahb3lite_memory
	url = git@github.com:vfinotti/ahb3lite_memory.git
[submodule "ip_cores/roa_logic/ahb3lite_pkg"]
	path = ip_cores/roa_logic/ahb3lite_pkg
	url = git@github.com:vfinotti/ahb3lite_pkg.git
[submodule "ip_cores/roa_logic/memory"]
	path = ip_cores/roa_logic/memory
	url = git@github.com:vfinotti/memory.git
