[submodule "ip_cores/PoC"]
	path = ip_cores/PoC
	url = https://github.com/VLSI-EDA/PoC.git
[submodule "ip_cores/roa_logic/ahb3lite_interconnect"]
	path = ip_cores/roa_logic/ahb3lite_interconnect
	url = git@github.com:vfinotti/ahb3lite_interconnect.git
[submodule "ip_cores/roa_logic/ahb3lite_memory"]
	path = ip_cores/roa_logic/ahb3lite_memory
	url = git@github.com:vfinotti/ahb3lite_memory.git
[submodule "ip_cores/roa_logic/ahb3lite_pkg"]
	path = ip_cores/roa_logic/ahb3lite_pkg
	url = git@github.com:vfinotti/ahb3lite_pkg.git
[submodule "ip_cores/roa_logic/memory"]
	path = ip_cores/roa_logic/memory
	url = git@github.com:vfinotti/memory.git
